body {

    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
 
}



.nav__spacing a {

    text-decoration: underline;
    position: relative;
    align-items: center;
    margin: auto;
    font-weight: 650;
    font-size:xx-large;

    
}

.nav__text h1 {
    font-weight: 500;


}

.filter__search-all {
    margin-left: 1rem;
}


.filter__search-all p {
    text-decoration: underline;
    font-size: large;
    font-weight: 650;

}

.filter__search li{
  max-width: fit-content;
}

